In [15]:
import pandas as pd

In [16]:
df = pd.read_csv(r"C:\Users\fabri\Desktop\my_repo\env\synthetic_orders.csv")
df.head()

,order_id,order_datetime,day_of_week,is_weekend,is_holiday,holiday_name,num_pizzas,total_amount,distance_km,temperature_C
0,1,2024-07-14 18:19:39,6,1,0,NaN,1,10.55,0.76,10.4
1,2,2024-08-11 20:21:22,6,1,0,NaN,3,26.85,3.38,7.4
2,3,2024-12-16 20:58:24,0,0,0,NaN,4,32.20,2.76,9.4
3,4,2024-12-26 11:51:36,3,0,1,Santo Stefano,4,32.24,3.26,13.5
4,5,2024-05-11 18:12:10,5,1,0,NaN,2,19.53,0.70,22.5

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   order_id        500000 non-null  int64
 1   order_datetime  500000 non-null  object
 2   day_of_week     500000 non-null  int64
 3   is_weekend      500000 non-null  int64
 4   is_holiday      500000 non-null  int64
 5   holiday_name    48878 non-null   object
 6   num_pizzas      500000 non-null  int64
 7   total_amount    500000 non-null  float64
 8   distance_km     500000 non-null  float64
 9   temperature_C   500000 non-null  float64
dtypes: float64(3), int64(5), object(2)
memory usage: 38.1+ MB

In [18]:
df["order_datetime"] = pd.to_datetime(df["order_datetime"])

In [19]:
# ordiniamo per indice di data
df = df.sort_values(by="order_datetime")

In [20]:
df.head()

,order_id,order_datetime,day_of_week,is_weekend,is_holiday,holiday_name,num_pizzas,total_amount,distance_km,temperature_C
132707,132708,2024-01-01 11:00:06,0,0,1,Capodanno,2,19.25,5.50,18.3
487812,487813,2024-01-01 11:00:18,0,0,1,Capodanno,3,33.58,6.64,13.6
471519,471520,2024-01-01 11:00:40,0,0,1,Capodanno,4,32.86,3.33,13.3
182075,182076,2024-01-01 11:01:22,0,0,1,Capodanno,3,22.95,0.48,16.0
422616,422617,2024-01-01 11:01:36,0,0,1,Capodanno,4,38.66,1.45,13.7

In [21]:
df.isna().sum()

order_id               0
order_datetime         0
day_of_week            0
is_weekend             0
is_holiday             0
holiday_name      451122
num_pizzas             0
total_amount           0
distance_km            0
temperature_C          0
dtype: int64

In [22]:
# sostiuisco i valori nulli con "No"
df.fillna("No", inplace=True)

In [23]:
# salviamo dataset pulito
df.to_csv(r"C:\Users\fabri\Desktop\my_repo\env\synthetic_orders_clean.csv", index=False)